<!DOCTYPE html>
<html lang="es">

<style>
    table{
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-aling: left;
    }
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    caption {
        font-size: 1.5em;
        margin: 10px 0;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Etiquetas principales en HTML - HTML</title>
</head>

<body>
<table>
    <caption> Etiquetas principales de HTML </caption>
    <thead>
    <tr>
        <th>Etiqueta</th>
        <th>Descripción</th>
        <th>Ejemplo</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tr>
        <td>&lt;html&gt;</td>
        <td>Define el documento HTML</td>
        <td>&lt;html&gt;&lt;/html&gt;</td>
    </tr>
    <tr>
        <td>&lt;head&gt;</td>
        <td>Contiene metadatos/informacion sobre el documento</td>
        <td>&lt;head&gt;&lt;/head&gt;</td>
    </tr>
    <tr>
        <td>&lt;title&gt;</td>
        <td>Define el titulo del documento</td>
        <td>&lt;title&gt;Titulo&lt;/title&gt;</td>
    </tr>
    <tr>
        <td>&lt;meta&gt;</td>
        <td>Define metadatos sobre el documento</td>
        <td>&lt;meta charset="UTF-8"&gt;</td>
    </tr>
    <tr>
        <td>&lt;body&gt;</td>
        <td>Define el cuerpo del documento</td>
        <td>&lt;body&gt;&lt;/body&gt;</td>
    </tr>
    <tr>
        <td>&lt;h1&gt; a &lt;h6&gt;</td>
        <td>Define encabezados HTML</td>
        <td>&lt;h1&gt;Encabezado&lt;/h1&gt;</td>
    </tr>
    <tr>
        <td>&lt;p&gt;</td>
        <td>Define un párrafo</td>
        <td>&lt;p&gt;Hola Mundo&lt;/p&gt;</td>
    </tr>
    <tr>
        <td>&lt;a&gt;</td>
        <td>Crear enlaces</td>
        <td>&lt;a hred="https://www.google.es"&gt; Google &lt;/a&gt;</td>
    </tr>
    <tr>
        <td>&lt;img&gt;</td>
        <td>Insertar imágenes</td>
        <td>&lt;img src="imagen.jpg" alt="Ejemplo"&gt;</td>
    </tr>
    <tr>
        <td>&lt;table&gt;</td>
        <td>Define una tabla</td>
        <td>&lt;table&gt;&lt;/table&gt;</td>
    </tr>
    <tr>
        <td>&lt;tr&gt;</td>
        <td>Define una fila en una tabla</td>
        <td>&lt;tr&gt;&lt;/tr&gt;</td>
    </tr>
    <tr>
        <td>&lt;th&gt;</td>
        <td>Define una una celda de encabezado en una tabla</td>
        <td>&lt;th&gt;Encabezado&lt;/th&gt;</td>
    </tr>
    <tr>
        <td>&lt;td&gt;</td>
        <td>Define una celda en una tabla</td>
        <td>&lt;td&gt;Celda&lt;/td&gt;</td>
    </tr>
    <tr>
        <td>&lt;thead&gt;</td>
        <td>Define el encabezado de una tabla</td>
        <td>&lt;thead&gt;&lt;/thead&gt;</td>
    </tr>
    <tr>
        <td>&lt;tbody&gt;</td>
        <td>Define el cuerpo de una tabla</td>
        <td>&lt;tbody&gt;&lt;/tbody&gt;</td>
    </tr>
    <tr>
        <td>&lt;tfoot&gt;</td>
        <td>Define el pie de una tabla</td>
        <td>&lt;tfoot&gt;&lt;/tfoot&gt;</td>
    </tr>
    <tr>
        <td>&lt;caption&gt;</td>
        <td>Define un titulo para una tabla</td>
        <td>&lt;caption&gt;Titulo&lt;/caption&gt;</td>
    </tr>
    <tr>
        <td>&lt;form&gt;</td>
        <td>Define un formulario HTML</td>
        <td>&lt;form&gt;&lt;/form&gt;</td>
    </tr>
    <tr>
        <td>&lt;input&gt;</td>
        <td>Define un control de entrada</td>
        <td>&lt;input type="text"&gt;</td>
    </tr>
    <tr>
        <td>&lt;button&gt;</td>
        <td>Define un botón</td>
        <td>&lt;button&gt;Botón&lt;/button&gt;</td>
    </tr>
    <tr>
        <td>&lt;div&gt;</td>
        <td>Define una division o seccion</td>
        <td>&lt;div&gt;Contenido&lt;/div&gt;</td>
    </tr>
    <tr>
        <td>&lt;span&gt;</td>
        <td>Define una sección de linea</td>
        <td>&lt;span&gt;Texto&lt;/span&gt;</td>
    </tr>
    <tr>
        <td>&lt;br&gt;</td>
        <td>Inserte un salto de linea</td>
        <td>&lt;br&gt;</td>
    </tr>
    <tr>
        <td>&lt;hr&gt;</td>
        <td>Define una linea horizontal</td>
        <td>&lt;hr&gt;</td>
    </tr>
    <tr>
        <td>&lt;!--...--&gt;</td>
        <td>Define un comentario</td>
        <td>&lt;!--Comentario--&gt;</td>
    </tr>
    <tr>
        <td colspan="2">etiqueta con colspan</td>
        <td>fusiona 2 columnas</td>
    </tr>
    <tfoot>
    <tr>
        <th colspan="3"> Fin de la tabla- Fusiona tres columnas </th>
    </tr>
    </tfoot>
</table>
</body>

</html>